.section__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    border: none;
    color: hsl(180, 100%, 25%);
    background-color: transparent;
    transition: 0.3s;
    cursor: pointer;
}

@media (max-width: 767px) {
    .section__buttons {
        flex-basis: 100%;
        justify-content: center;
        gap: 20px;
    }
}

.section__buttons:hover {
    color: hsl(180, 100%, 30%);
}

.section__buttons:active {
    color: hsl(180, 100%, 35%);
}

.section__buttons:disabled {
    color: #bbb;
    cursor: auto;
}